<div class="container-lg my-5 ">
    <div class="row text-center m-md-4 gx-1 mb-3 ">
        <div class="col-md-7 col-12">
            <div class="row">
                <h1 class="col-12 display-3">Biography</h1>
                <div class="col-12" id="posts">
                    <p class="bio text-center ">Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Corporis quod nam ratione illum ut 
                        officiis cumque repellendus, debitis dolores aliquam.</p>
                </div>
            </div>
        </div>
        <div class="row circle-hero-image d-md-none d-block col-12 m-auto">
            <img src="/images/mountains-circle.png" alt="" class="img-fluid rounded-2">
        </div>
        <div class="hero-image col-md-5 d-md-block d-none mx-md-0 mx-5">
            <img src="/images/mountains.jpg" alt="" class="img-fluid rounded-2">
        </div>
    </div>
</div>
<div class="container-lg my-5 ">

    <div class="row text-center my-1 p-3 ">
        <h2 class="col-12"><span class="latest">Latest Posts</span></h2>
        <div class="col-12">
            <ul>
                <% data.forEach(post => { %>
                 <a href="/post/<%= post._id %>" class="text-decoration-none "><li class="list-unstyled shadow p-3 mb-5 bg-body rounded posts">
                    <h3><%= post.title %></h3>
                    <p><%= post.body %></p>
                </li>
                <% }) %></a>

                
            </ul>

        </div>

    </div>

</div>
