<div class="container-lg my-5 ">
    <div class="row text-center m-md-4 gx-1">
        <div class="col-md-6 col-12">
            <div class="row">
                <h1 class="col-12 display-2 mb-5 ">Home</h1>
                <div class="col-12" id="posts">
                    <ul>
                        <li class="list-unstyled ">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </li>
                        <li class="list-unstyled ">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         </li>
                         <li class="list-unstyled ">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="hero-image col-md-6 col-12 d-md-block d-none mx-md-0 mx-5">
            <img src="/images/mountains.jpg" alt="" class="img-fluid rounded-2">
        </div>
    </div>

</div>
