<div class="container-lg my-5 text-center ">
    <h1 class="mb-5 "><%= data.title %></h1>
    <article></article><%=  data.body%></article>
    <div></div>Posted: <%=  data.createdAt.toDateString()%></div>
</div>